<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" >  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        
        <th>Employee First Name</th>  
        <th>Employee Middle Name</th>  
        <th>Employee Last Name</th> 
        <th>Employee Mobile Number</th>   
        <th>Employee Address</th>  
        <th>Employee Email</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %}  
    <tr>  
        <td>{{ employee.e_f_name }}</td>  
        <td>{{ employee.e_m_name }}</td> 
        <td>{{ employee.e_l_name }}</td>   
        <td>{{ employee.e_m_number }}</td>  
        <td>{{ employee.e_address }}</td>
        <td>{{ employee.e_email }}</td> 

        <td>  
            <span class="glyphicon glyphicon-pencil" >Edit</span>
             
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center>< class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  